.additionally {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    width: 90%;
    height: 2px;
    background-color: @basic_green;
    z-index: -1;

    @media (min-width: @tablet) {
      width: 100%;
      top: 85px;
    }
  }
}

.additionally__wrapper {
  @media (min-width: @desktop) {
    padding: 0 70px;
  }
}

.additionally__title {
  display: block;
  margin-top: 23px;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 26px;
  background-color: @white;
  width: calc(141 / 280 * 100%);
  padding-right: 22px;

  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 63px;
    margin-bottom: 62px;
    width: 211px;
    padding: 0 40px;
  }
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 55px;
    padding: 0 40px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-template-rows: 1fr;
  }
}

.additionally__item {
  margin-bottom: 18px;

  @media (min-width: @tablet) {
    margin-bottom: 42px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 61px;
  }
}

.additionally__caption {
  padding-left: 35px;

  &--disabled {
    opacity: 0.3;
  }

  &--disabled .additionally__checkbox {
    border-color: #bababa;
  }

  @media (min-width: @tablet) {
    padding-left: 48px;
  }
}

.additionally__input {
  appearance: none;
}

.additionally__checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -45px;
  background-color: @white;
  border: 1px solid #d9d9d9;

  &:hover {
    border-color: #bababa;
  }

  @media (min-width: @tablet) {
    margin-left: -59px;
    margin-top: -5px;
    width: 38px;
    height: 38px;
  }
}

.additionally__input:checked + .additionally__checkbox {
  background-image: url("../img/icon/check.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
