.catalog {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet) {
    border: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    min-width: 320px;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: @tablet) {
      display: none;
    }
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 60px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 65px;
    padding-bottom: 160px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 140px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.catalog__item {
  padding-bottom: 44px;
  position: relative;

  &:last-child {
    padding-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    min-width: 320px;
    height: 1px;
    background-color: #ebebeb;
  }

  @media (min-width: @tablet) {
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.catalog__cart {
  @media (min-width: @tablet) {
    min-height: 430px;
  }
}
