.catalog {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet) {
    border: none;
  }
}

.catalog__wrapper {
  padding-top: 65px;

  @media (min-width: @tablet) {
    padding-top: 0;
  }
}


.catalog__cart-link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 40px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 60px;
    padding-bottom: 165px;
  }

  @media (min-width: @desktop) {
    padding-top: 70px;
    padding-bottom: 165px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 140px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.catalog__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    min-width: 320px;
    height: 1px;
    background-color: #ebebeb;
  }

  @media (min-width: @tablet) {
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.catalog__cart {
  min-height: 190px;
  padding: 8px 0 11px;

  @media (min-width: @tablet) {
    min-height: 430px;
    padding: 0;
  }
}
