.example {
  background-color: #eaeaea;

  @media (min-width: @tablet) {
    background-color: transparent;
    border-top: 1px solid #e6e6e6;
    background-image: linear-gradient(to bottom, @white 60%, #eaeaea 60% 100%);
  }

  @media (min-width: @desktop) {
    border-top: none;
    background-image: linear-gradient(to bottom, @white 30%, #eaeaea 30% 100%);
  }
}

.example__wrapper {
  display: grid;

  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
}

.example__container {
  @media (min-width: @desktop) {
    width: 436px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  padding-top: 25px;

  @media (min-width: @tablet) {
    padding-top: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  padding-top: 45px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet) {
    padding-top: 63px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop) {
    padding-top: 146px;
  }
}

.example__container-desk {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  @media (min-width: @tablet) {
    flex-wrap: nowrap;
    padding-top: 54px;
  }

  @media (min-width: @desktop) {
    flex-wrap: wrap;
    padding-top: 69px;
  }
}

.example__desk {
  display: flex;
  margin: 0;
}

.example__box {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 124px;

  &:first-child {
    margin-right: 32px;
  }

  @media (min-width: @tablet) {
    flex-basis: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  @media (min-width: @desktop) {
    &:first-child {
      margin-right: 42px;
    }
  }
}

.example__term {
  font-family: "Arial", sans-serif;
  background-color: #eaeaea;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
  order: 2;
  padding: 0 20px;
  width: 60px;

  @media (min-width: @tablet) {
    background-color: @white;
    width: auto;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: @desktop) {
    background-color: #eaeaea;
  }
}

.example__def {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  order: 1;
  margin: 0;
  padding: 14px 40px 17px;
  border: 1px solid @special_grey;
  border-radius: 5px;

  .example__box:nth-child(2) & {
    padding: 14px 20px 17px;
  }

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 56px 25px;

    .example__box:nth-child(2) & {
      padding: 15px 29px 21px;
    }
  }
}

.example__info {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 20px;

  @media (min-width: @tablet) {
    font-size: 20px;
    text-align: right;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-left: 90px;

    & span {
      margin-top: 10px;
      display: inline-block;
    }
  }

  @media (min-width: @desktop) {
    margin: 0;
    padding: 0;
    padding-top: 55px;

    & span {
      margin: 0;
      margin-left: 63px;
    }
  }
}

.example__slider {
  padding: 40px 0 45px;

  @media (min-width: @tablet) {
    padding: 0;
  }
}
