.footer {
  background-color: @basic_grey;
}

.footer__contacts {
  &--bg {
    background-color: @white;
  }

  @media (min-width: @desktop) {
    position: relative;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: @tablet) {
    padding: 59px 70px;
  }

  @media (min-width: @desktop) {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: @white;
    padding: 56px 70px;
  }
}

.footer__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;

  @media (min-width: @tablet) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop) {
    line-height: 29px;
  }
}

.footer__text {
  width: 139px;

  @media (min-width: @tablet) {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    span {
      display: inline-block;
      margin-top: 18px;
    }
  }

  @media (min-width: @desktop) {
    text-align: left;
    margin-left: 80px;
  }
}

.footer__wrapper-map {
  width: 100%;
  min-width: 320px;
}

.footer__map {
  width: 100%;
  min-width: 320px;
  height: 362px;
  border: none;
  display: block;

  @media (min-width: @tablet) {
    height: 400px;
  }
}

.footer__wrapper-desk {
  display: grid;
  height: 236px;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: 147px;
  }
}

.footer__logo {
  justify-self: center;
  padding: 40px 0 7px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet) {
    padding: 0;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  flex-basis: 280px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet) {
    border: none;
    padding-top: 8px;
  }
}

.footer__item {
  margin: 0;

  &:nth-child(2) {
    margin: 0 35px;
  }

  @media (min-width: @tablet) {
    margin-right: 12px;
    margin-left: 15px;

    &:nth-child(2) {
      margin: 0 15px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 15px;
    }
  }
}

.footer__icon-vk {
  @media (min-width: @tablet) {
    width: 28px;
    height: 17px;
  }
}

.footer__icon-inst {
  @media (min-width: @tablet) {
    width: 23px;
    height: 23px;
  }
}

.footer__icon-fb {
  @media (min-width: @tablet) {
    width: 17px;
    height: 27px;
  }
}

.footer__icon-vk,
.footer__icon-inst,
.footer__icon-fb {
  color: @special_grey-2;

  &:hover {
    color: @basic_green;
  }

  &:active {
    color: @basic_green;
    opacity: 0.3;
  }
}

.footer__copiright {
  display: flex;
  justify-content: space-between;
}

.footer__copiright-logo {
  margin-top: 10px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    margin-right: 22px;
  }
}

.footer__copiright-icon {
  color: @special_grey-2;

  &:hover {
    color: @basic_green;
  }

  &:active {
    color: @basic_green;
    opacity: 0.3;
  }
}
