.header {
  position: relative;
  margin: 0 auto;

  &--green {
    @media (min-width: @desktop-width) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        min-height: 694px;
        background: url("../img/background/background-desktop.jpg") no-repeat;
        background-color: #68b738;

        @media (min-resolution: 2dppx) {
          background: url("../img/background/background-desktop@2x.jpg") no-repeat;
          background-color: #68b738;
          background-size: 720px auto;
        }
      }
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 780px;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 0 0;
    width: 1220px;
  }
}


.header__logo {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  height: 66px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 190px;
  }

  @media (min-width: @desktop-width) {
    width: 610px;
  }
}

.header__img {
  display: block;
  margin-right: auto;
  justify-content: center;


  @media (min-width: @tablet-width) {
    &--icon {
      margin-right: 12px;
      width: 60px;
      height: 49px;
    }

    @media (min-width: @desktop-width) {
      &--icon {
        margin-right: 14px;
        width: 65px;
        height: 59px;
      }
    }
  }
}
