.header__wrapper {
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @mobile-only) {
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: @tablet) {
    align-items: start;
  }
}

.header__link-logo {
  @media (max-width: @mobile-only) {
    padding-top: 7px;
    padding-left: 20px;
  }
}

.header__image-logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet) {
    margin-top: 24px;
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop) {
    margin-top: 53px;
    width: 202px;
    height: 59px;
  }
}
