.programs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.programs__list {
  display: flex;
  flex-direction: column;
}

.programs__item {
  background-color: @bg-grey-light;
  margin-top: 20px;
}

.programs__title {
  text-transform: uppercase;
}

.programs__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
