.promo {
  position: relative;
  margin: 0 20px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    background: url("../img/background/background-mobile.png") no-repeat;
    background-color: #68b738;
    background-position: center;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background: url("../img/background/background-mobile@2x.png") no-repeat;
      background-color: #68b738;
      background-position: center;
      background-size: auto 302px;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    position: relative;
    height: 869px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    height: 658px;
    padding: 0 110px;
  }
}

.promo__title {
  margin: 25px 0 27px;
  padding: 0;
  text-align: center;


  @media (min-width: @tablet-width) {
    margin: 50px 41px 63px;
    width: 450px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 111px;
  }
}

.promo__text {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    margin-left: 45px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 51px;
    margin-left: 45px;
  }
}

.promo__img {
  display: block;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    min-width: 709px;
    min-height: 609px;
  }

  @media (min-width: @desktop-width) {
    top: 23px;
    left: calc(50% + 114px);
    min-width: 552px;
    min-height: 499px;
  }
}

.promo__button {
  margin-top: 3px;
  padding: 11px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 281px;
    left: 78px;
    margin-top: 10px;
    padding: 14px 26px 14px 26px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 353px;
    left: 147px;
    margin-top: 10px;
    padding: 14px 26px 14px 26px;
  }
}
