.social__wrapper {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 24px 0 15px;

  @media (min-width: @tablet-width) {
    background-color: @bg-grey-light;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-grey-light;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin: 0 auto;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    background-color: @bg-grey-light;
    display: flex;
    flex-direction: row;
    border: none;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-grey-light;
    display: flex;
    flex-direction: row;
    border: none;
  }
}

.social__item {
  @media (min-width: @tablet-width) {
    background-color: @bg-grey-light;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-grey-light;
  }
}
